<h1>Sports</h1>

<ul>
  <% @sports.each do |sport| %>
    <% unless sport.archived? %>
      <li>
        <%= link_to sport.name, sport %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Sport", new_sport_path %>
