<h1><%= @sport.name %></h1>

<p><%= @sport.description %></p>

<ul>
  <li><%= link_to "Edit", edit_sport_path(@sport) %></li>
  <li><%= link_to "Destroy", sport_path(@sport), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %></li>
</ul>